#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}


.card {
	padding: 2em;
}

.info-row {
	padding: 1em;
	display:flex;
	gap: 1em;
	align-items: center;
}

.metrics {
	display:flex;
	flex-direction: column;
	gap: 0.1em;
}
.metrics p {
	margin: 0;
	padding: 0;
	text-align: right;
}